.header {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px;
    font: 16px Poppins, sans-serif;
    letter-spacing: 0.96px;
  }
  
  .logo {
    width: 235px;
    height: auto;
    object-fit: contain;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    gap: 54px;
    color: rgba(40, 56, 65, 1);
    font-weight: 500;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
  }
  
  .navItem {
    text-decoration: none;
    color: inherit;
  }
  
  .active {
    color: rgba(34, 58, 96, 1);
    font-weight: 700;
    text-decoration: underline;
  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  
  @media (max-width: 991px) {
    .navigation {
      max-width: 100%;
    }
  
    .authButton {
      padding: 12px 20px;
    }
  }