.rememberMeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    color: rgba(34, 58, 96, 1);
    letter-spacing: 0.96px;
    justify-content: flex-start;
    padding: 0 8px;
    font: 500 16px/40px DM Sans, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .rememberMeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .rememberMeText {
    align-self: stretch;
    margin: auto 0;
  }