.header {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px;
    font: 16px Poppins, sans-serif;
    letter-spacing: 0.96px;
  }
  
  .logo {
    aspect-ratio: 3.68;
    object-fit: contain;
    width: 235px;
    align-self: stretch;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 54px;
    color: #283841;
    font-weight: 500;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
  }
  
  @media (max-width: 991px) {
    .nav {
      max-width: 100%;
    }
  }
  
  .navLink {
    align-self: stretch;
    margin: auto 0;
    text-decoration: none;
  }
  
  .activeLink {
    color: #223A60;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .account {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #223A60;
    font-weight: 600;
    white-space: nowrap;
  }
  
  @media (max-width: 991px) {
    .account {
      white-space: initial;
    }
  }
  
  .accountIcon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 34px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }