.loginContainer {
  background-color: #fff;
  display: flex;
  min-width: 320px;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 50px 100px;
}

@media (max-width: 991px) {
  .loginContainer {
    padding: 100px 20px;
  }
}

.loginWrapper {
  border-radius: 14px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  min-width: 240px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  flex-basis: 0%;
  align-items: stretch;
}

@media (max-width: 991px) {
  .loginWrapper {
    max-width: 100%;
  }
}

.loginForm {
  border-radius: 14px 0 0 14px;
  background-color: rgba(97, 168, 250, 0.2);
  display: flex;
  min-width: 400px;
  min-height: 814px;
  flex-direction: column;
  overflow: hidden;
  letter-spacing: 0.96px;
  justify-content: space-between;
  flex: 1;
  flex-basis: 0%;
  padding: 30px;
  font: 16px DM Sans, sans-serif;
}

@media (max-width: 991px) {
  .loginForm {
    max-width: 100%;
    padding: 0 20px;
  }
}

.logo {
  aspect-ratio: 3.1;
  object-fit: contain;
  object-position: center;
  width: 300px;
  max-width: 300px;
}

.loginTitle {
  color: #223a60;
  font-weight: 700;
  line-height: 40px;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .loginTitle {
    max-width: 100%;
    margin-top: 40px;
  }
}

.inputField {
  border-radius: 6px;
  background-color: rgba(217, 217, 217, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: rgba(34, 58, 96, 0.5);
  font-weight: 500;
  white-space: nowrap;
  line-height: 40px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

@media (max-width: 991px) {
  .inputField {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}

.inputIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.inputText {
  align-self: stretch;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

@media (max-width: 991px) {
  .inputText {
    max-width: 100%;
  }
}

.rememberMe {
  align-self: flex-start;
  display: flex;
  margin-top: 50px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #223a60;
  font-weight: 500;
  line-height: 40px;
  justify-content: flex-start;
  padding: 0 8px;
}

@media (max-width: 991px) {
  .rememberMe {
    margin-top: 40px;
  }
}

Button {
  align-self: stretch;
  flex: 1;
  border-radius: 14px;
  background-color: #223a60;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  min-height: 44px;
  width: 100%;
  gap: 10px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  line-height: 40px;
  padding: 2px 7px;
}

@media (max-width: 991px) {
  .loginButton {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}

.createAccount {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px;
}

@media (max-width: 991px) {
  .createAccount {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.noAccountText {
  color: #223a60;
  font-weight: 400;
  line-height: 40px;
  align-self: stretch;
  flex: 1;
  flex-basis: 40px;
  margin: auto 0;
  text-wrap: nowrap;
}

.createAccountLink {
  align-self: stretch;
  color: #0066ff;
  font-weight: 500;
  flex: 1;
  margin: auto 0;
  padding: 0 20px;
  text-wrap: nowrap;
}

.backgroundSection {
  border-radius: 0 14px 14px 0;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  flex: 2;
  flex-basis: 60px;
  padding: 217px 0 132px;
  position: relative;
}

@media (max-width: 991px) {
  .backgroundSection {
    max-width: 100%;
    padding: 100px 0;
  }
}

.backgroundContent {
  display: flex;
  flex-direction: column;
  font-family: DM Sans, sans-serif;
  color: #000;
  font-weight: 700;
  padding: 0 17px 0 73px;
}

@media (max-width: 991px) {
  .backgroundContent {
    max-width: 100%;
    padding-left: 20px;
  }
}

.elevateText {
  font-size: 48px;
  letter-spacing: 2.88px;
  align-self: flex-end;
}

@media (max-width: 991px) {
  .elevateText {
    max-width: 100%;
    font-size: 40px;
  }
}

.discoverText {
  font-size: 60px;
  letter-spacing: 3.6px;
  align-self: flex-start;
  margin-top: 105px;
}

@media (max-width: 991px) {
  .discoverText {
    margin-top: 40px;
    font-size: 40px;
  }
}

.worldText {
  color: #fff;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 7.68px;
  align-self: flex-start;
  margin: 38px 0 0 11px;
  font: 400 128px DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .worldText {
    margin-left: 10px;
    font-size: 40px;
  }
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.titleLarge {
  font-size: 48px;
  color: #223a60;
}

.titleSmall {
  font-weight: 400;
  font-size: 20px;
  color: #223a60;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.backgroundContent, .worldText {
  position: relative;
  z-index: 2;
}