.feedbackCard {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.16);
  padding: 30px;
  position: relative;
}

.content {
  font-size: 14px;
  color: #283841;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.starIcon {
  width: 22px;
  height: 22px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authorInfo {
  flex-grow: 1;
}

.authorName {
  font-size: 20px;
  font-weight: 700;
  color: #283841;
  margin: 0;
}

.authorCountry {
  font-size: 14px;
  color: rgba(40, 56, 65, 0.6);
  margin: 0;
}

.authorAvatar {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: absolute;
  top: -33px;
  right: 30px;
}