.trendingDestinations {
  padding: 80px 20px;
  text-align: center;
}

.sectionTitle {
  font-size: 56px;
  font-weight: 700;
  color: #283841;
  margin-bottom: 40px;
}

.highlight {
  color: #77a0e0;
}

.destinationMap {
  max-width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .trendingDestinations {
    padding: 60px 20px;
  }

  .sectionTitle {
    font-size: 40px;
  }
}