.registerPage {
    background-color: #fff;
    display: flex;
    min-width: 320px;
    align-items: flex-start;
    gap: 10px;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 133px 285px;
  }
  
  @media (max-width: 991px) {
    .registerPage {
      padding: 100px 20px;
    }
  }
  
  .container {
    border-radius: 14px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    min-width: 240px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
    }
  }
  
  .heroSection {
    display: flex;
    min-width: 320px;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    flex: 1;
    flex-basis: 60px;
    padding: 217px 0 132px;
  }
  
  @media (max-width: 991px) {
    .heroSection {
      max-width: 100%;
      padding: 100px 0;
    }
  }
  
  .heroContent {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: #000;
    font-weight: 700;
    padding: 0 17px 0 73px;
  }
  
  @media (max-width: 991px) {
    .heroContent {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  
  .heroSubtitle {
    font-size: 48px;
    letter-spacing: 2.88px;
    align-self: flex-end;
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .heroSubtitle {
      max-width: 100%;
      font-size: 40px;
    }
  }
  
  .heroTitle {
    font-size: 60px;
    letter-spacing: 3.6px;
    align-self: flex-start;
    margin: 105px 0 0;
  }
  
  @media (max-width: 991px) {
    .heroTitle {
      margin-top: 40px;
      font-size: 40px;
    }
  }
  
  .heroHighlight {
    color: #fff;
    text-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 7.68px;
    align-self: flex-start;
    margin: 38px 0 0 11px;
    font: 400 128px 'DM Serif Display', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .heroHighlight {
      margin-left: 10px;
      font-size: 40px;
    }
  }
  
  .registerSection {
    border-radius: 0 14px 14px 0;
    background-color: rgba(97, 168, 250, 0.2);
    display: flex;
    min-width: 400px;
    min-height: 814px;
    flex-direction: column;
    overflow: hidden;
    color: rgba(34, 58, 96, 0.5);
    letter-spacing: 1.2px;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
    font: 500 20px/40px 'DM Sans', -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .registerSection {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .logo {
    aspect-ratio: 3.1;
    object-fit: contain;
    object-position: center;
    width: 300px;
    max-width: 300px;
  }
  
  .registerTitle {
    color: #223a60;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.96px;
    margin: 68px 0 0;
  }
  
  .registerSubtitle {
    color: #223a60;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.96px;
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .registerTitle,
    .registerSubtitle {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .registerForm {
    display: flex;
    flex-direction: column;
    gap: 68px;
    margin-top: 68px;
  }
  
  @media (max-width: 991px) {
    .registerForm {
      gap: 40px;
      margin-top: 40px;
    }
  }